<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>User: {{ userName }}</p>
      <button (click)="loggedOut()" class="btn btn-primary" routerLink="login">
        Logout
      </button>

      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Select Customer
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="buttonClick('Cust1')">Customer 1</a>
          <a class="dropdown-item" (click)="buttonClick('Cust2')">Customer 1</a>
          <a class="dropdown-item" (click)="buttonClick('Cust3')">Customer 1</a>
          </div>
      </div>
      <!-- <div>
  <button (click)="buttonClick()" class="btn btn-secondary">
    Press me to get the list
  </button>
</div> -->
      <div>
        <table *ngIf="showTable == true">
          <th *ngFor="let column of headers">
            {{ column }}
          </th>
          <tr *ngFor="let post of posts">
            <td *ngFor="let column of datahdr">
              {{ post[column] }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
